.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.node--search {
  fill: #000;
}

.link {
  stroke: rgba(23, 190, 207, 1);
  stroke-opacity: .05;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: magenta;
}

.node--target {
  fill: magenta;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: magenta;
}

.link--target {
  stroke: magenta;
}


.d3-tip {
  line-height: 0;
  font-weight: bold;
  padding: 6px;
  background: rgba(197, 176, 213, 0.9);
  /*color: #fff;*/
  color: black;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

input {
font: 24pt "helvetica neue";
background: #bbb;
border: #222;
outline: 1;
}

h1 {
  font: 300 14px "Helvetica Neue";
  font-size: 28px;
  font-weight: 100;
  margin: .3em 0 .1em 0;
}

p {
  font: 24pt "helvetica neue";
  font-size: 24px;
  font-weight: 200;
  margin: .3em 0 .1em 0;
  color: #666;
}
